{% block sw_cms_preview_example %}
    <div class="sw-cms-preview-example">
        <div>
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
    </div>
{% endblock %}
